PUBLIC_API_BASE="https://chhath-public-worker.shaharpura.com"

PUBLIC_RENDER_CHAT_URL="https://chhath-server-render.onrender.com/public-chat"

PUBLIC_MGMT_LOGIN_URL="https://mgmt-chhath.shaharpura.com/"

PUBLIC_SITE_URL="https://chhath.shaharpura.com"
